{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .sidebar{
            background-color: rgb(255, 0, 0);
            width: 135px;
            height: 610px;
            

        }
        
        .sidebar a {
            margin-top: 30px;
            padding: 15px;
            font-size: 17px;
            font-weight: bold;
            color: #000000;
            display: block;
            text-decoration: none;
        }
        .sidebar a:hover {
            background-color: #635d5d;
        }
        .edit-button{
  display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: rgb(4, 0, 255);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
}
        
       
    </style>
</head>
<body style="background-color: rgba(255, 255, 255, 0.648);" >
    
    <nav class="navbar navbar-expand-lg " style="background-color:rgb(0, 0, 0); height: 100px;">    
        <div class="container-fluid" >
          <h2 style="font-weight: bold;color: rgb(255, 255, 255); margin-left: 20px;">DAILY FIX</h2>
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <form action="/search" method="post" class="d-flex" role="search" style="margin-left: 650px;">
                {%csrf_token%}
                <input class="form-control me-2" type="date" placeholder="Search" aria-label="Search" name="date">
                <button style="background-color: red;border: none;" class="btn btn-danger" type="submit">Search</button>
                
            </form>
              
             
            </ul>
            <p style="color: white;font-weight: bold;">{{d}}</p>
            <a href="/adminalert" style="margin-right: 10px;color: rgb(255, 255, 255);"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
              </svg></a>
            <ul>
                
                      
                        <img src="{{data.image.url}}"width="60px" height="60px" style="border-radius: 50%; margin-left: 15px;margin-top: 20px;"  >
                        
                      
                      
            <li class="nav-item dropdown" style="margin-right: 30px;list-style: none;color: white;">
                <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: bold;">
                  Hello{{data.name}}
                </a>
                <ul class="dropdown-menu">                  
                  <li><a class="dropdown-item" href="/logoutt">Logout</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
</div>
      
<div class="d-flex">
        <div class="sidebar">
          <div class="sidebar">
            <a  href="/adminhome">DASHBOARD</a>
            <a href="/adminserviceman">SERVICE MAN</a>
            <a href="/adminuser">USER</a>            
            <a href="/adminorder">VIEW ORDER</a>
            <a  href="/adminmessage">MESSAGES</a>
            
        </div>
            
        </div>
        
        <div class="container" style="margin-top: 50px;margin-left: 30px;">
            <h2 style="text-align: center;color: #ff0000;font-style: italic;">User More Details</h2>
        <br>
          {%if da%}
            <div class="main-body">   
            
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{da.image.url}}" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4>{{da.name}}</h4>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">                   
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                              </svg>EMAIL</h6>
                            <span class="text-secondary">{{da.email}}</span>
                          </li>                        
                          
                        </ul>
                      </div>
                      
                     
                    </div>
                    <div class="col-md-8">
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">User Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{da.username}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Date</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{da.date}}
                            </div>
                          </div>
                          <hr>
                          
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{da.gender}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{da.address}}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Contact</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{da.contact}}
                            </div>
                          </div>
                          
                           
                        </div>
                      </div>
        
        
        
        
                    </div>
                  </div>
        
                </div>
            </div>
          {% endif %}    
        
     
</body>
</html>